.input {
  width: 100%;

  input {
    width: 100%;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #ccc;
    outline: none;
    text-align: center;
    font-size: 12px;
  }
}