.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 25px;

  a {
    width: 100%;
    text-decoration: none;
  }

   &__code {
     width: 100%;
     display: flex;
     align-items: center;
     column-gap: 10px;
     transition: opacity .2s ease-in-out;

     .button {
       width: 100px;
     }
   }
}